.App {
  text-align: center;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  justify-self: center;
  align-self: center;
}

.App-pswd {

}

.App-container {
  display: flex;
  justify-content: center;
  
}

.border {
  border-style: solid;
  border-color: rgb(99, 99, 99);
  border-radius: 15px;
  padding: 5px;
}

.App-img {
  
}

.App-alph {

}