.App {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  justify-self: center;
  align-self: center;
}

.App-pswd {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 42px;
  min-height: 60px;
}

.App-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.border {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(99, 99, 99);
  border-radius: 15px;
  padding: 5px;
}

.App-img {
  width: 450px;
  margin: 15px;
  min-height: 280px;
}

.App-alph {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 15px;
  text-align: center;
  min-height: 280px;
}

.App-letter {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(99, 99, 99);
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

.App-letter:hover {
  border-color: white;
  color: white;
  cursor: pointer;
}

.App-lose {
  color: rgb(202, 0, 0);
}

.App-win {
  color: rgb(45, 143, 15);
}

.App-again {
  color: rgb(216, 199, 199);
  cursor: pointer;
}

.App-again:hover {
  color: white;
}
